{
  "expo": {
   "name": "kukuriwi",
   "icon": "./kukuriwi.png",
   "version": "1.0.0",
   "slug": "kukuriwiSluig",
   "sdkVersion": "27.0.0",
   "ios": {
     "bundleIdentifier": "com.yourcompany.kukuriwi"
   },
   "android": {
     "package": "com.yourcompany.kukuriwi"
   }
  }
}
