{
  "expo": {
   "name": "kiriwi",
   "icon": "./kikiriwi-logo.png",
   "version": "1.0.0",
   "slug": "kikiriwiSluig",
   "sdkVersion": "24.0.0",
   "ios": {
     "bundleIdentifier": "com.yourcompany.kikiriwi"
   },
   "android": {
     "package": "com.yourcompany.kikiriwi"
   }
  }
}
