import React from 'react'
import { Root } from 'native-base';
import { Router, Scene } from 'react-native-router-flux'


const RouterComponent = () => {
    return (
    <Root>
      <Router hideNavBar="true">
        <Scene key="root" hideNavBar="true">
        	{ single_route }
        </Scene>
      </Router>
    </Root>
    );
  };

export default RouterComponent;