import { StackNavigator, DrawerNavigator } from 'react-navigation';
import mainComponent from '../Components/mainComponent';


const Router = StackNavigator({
	mainComponent: { screen: mainComponent, navigationOptions: { header:null, headerTitle: null }},
          //kukuriwi

}  );


export default Router;



